.logo {
    width: 75px;
    padding: 20px;
}

.main-container {
    text-align: center;
    width: 400px;
    margin: 100px auto;
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
}

.form-container {
    padding: 25px 0;
}